body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  width: 100%;
}

.field.field {
  width: 100%;
  margin: 10px;
}

.card {
  padding: 1em;
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-flow: column nowrap;
  & > * {
    margin: 5px;
  }
}

.actions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.action-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  & > * {
    margin: 1em;
  }
}

code {
  background: #eee;
  padding: 0.7em;
  border-radius: 3px;
  max-width: 550px;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 80vw;
}

.full-width {
  width: 100%;
}

.container {
  max-width: 700px;
}

h3 {
  text-align: center;
  margin-bottom: 10px !important;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
